TAGS
*~
.vagrant
*.retry

/packer_cache
/artifacts/**/*.box
/artifacts/**/*.nvram
/artifacts/**/*.ova
/artifacts/**/*.ovf
/artifacts/**/*.vmdk
/artifacts/**/*.vmsd
/artifacts/**/*.vmx
/artifacts/**/*.vmxf
/keys/*
