# Definitions here overwrite (default) values declared at /etc/cloud/cloud.cfg

disable_root: false

system_info:
  default_user:
    name: {{ansible_distribution | lower}}
    lock_passwd: true
    gecos: Cloud User
    groups: [wheel, adm, systemd-journal]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
  distro: rhel

{% if cloud_init_config is defined and cloud_init_config %}
{{cloud_init_config | to_nice_yaml(indent=2)}}
{% endif %}
