# Definitions here overwrite (default) values declared at /etc/cloud/cloud.cfg

{% if cloud_init_local_config is defined and cloud_init_local_config %}
{{cloud_init_local_config | to_nice_yaml(indent=2)}}
{% endif %}
