{
  "namespace": "mysitename",
  "version": "0.0.0",
  "headless": "true",
  "ks_server": "http://my.server.com/path/to/http/dir",
  "disk_size": "8192",
  "lang": "en_US.UTF-8",
  "keyboard":  "us",
  "timezone": "America/New_York",
  "root_pass": "password",
  "root_salt": "salt",
  "ssh_timeout": "10m",
  "vmware_sha": "sha256"
}
